<!DOCTYPE html>
<html>
  <head>
    <title>Angular Testing Ground</title>
    <script src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript">
      var app = angular.module("my-app", []);
      app.controller('MainController', ($scope) => {
        $scope.mainName = '';
        $scope.sayGreeting = () => {
          $scope.message = 'Hello, ' + $scope.mainName + '!';
          $scope.mainName = '';
        };
      });
      app.controller('SecondController', ($scope) => {
        $scope.secondName = '';
        $scope.sayGoodbye = () => {
          $scope.secondMessage = 'Goodbye, ' + $scope.secondName + '!';
          $scope.secondName = '';
        };
      });
      app.directive('clock', ($interval, dateFilter) => {
        return {
          controller: ($scope, $interval) => {
            function update() {
              $scope.time = new Date();
            }
            update();
            $interval(update, 1000);
          },
          template: '<span>{{time | date: \'hh:mm:ss\'}}</span>'
        };
      });
      app.controller('CounterController', ($scope) => {
        $scope.count = 0;
        $scope.add = () => {
          $scope.count ++;
        };
        $scope.subtract = () => {
          $scope.count --;
        };
        $scope.reset = () => {
          $scope.count = 0;
        };
      });
      app.controller('TodoController', ($scope) => {
        $scope.title = '';
        $scope.description = '';
        $scope.todos = [];
        $scope.add = () => {
          $scope.todos.push({
            title: $scope.title,
            description: $scope.description,
            complete: false
          });
        };
        $scope.complete = (item) => {
          $scope.todos[($scope.todos.indexOf(item))].complete = true;
        };
        $scope.remove = (item) => {
          $scope.todos.splice(($scope.todos.indexOf(item)), 1);
        };
      });
    </script>
  </head>
  <body>
    <div ng-app="my-app">
      <clock></clock>
      <div ng-controller="MainController">
        What is your name?<br>
        <form ng-submit="sayGreeting()">
          <input type="text" ng-model="mainName">
          <button>Submit</button><br>
          {{message}}
        </form>
      </div>
      <div ng-controller="SecondController">
        What is your name?<br>
        <form ng-submit="sayGoodbye()">
          <input type="text" ng-model="secondName">
          <button>Submit</button><br>
          {{secondMessage}}
        </form>
      </div>
      <div ng-controller="CounterController">
          <button ng-click="subtract()"> - </button>{{count}}<button ng-click="add()"> + </button><br>
          <button ng-click="reset()">Reset count</button>
      </div>
      <div ng-controller="TodoController">
        <form ng-submit="add()">
          <input type="text" ng-model="title">
          <input type="text" ng-model="description">
          <button>Add Todo</button>
        </form>
        <h1>Todo List</h1>
        <ul>
          <li ng-repeat="todo in todos">
            <h3>{{todo.title}}</h3>
            <p>{{todo.description}}</p>
            <button ng-click="complete(todo)">Complete</button><button ng-click="remove(todo)">Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
