<!DOCTYPE html>
<html>
  <head>
    <title>Angular Hello World</title>
    <script src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript">
      var app = angular.module("my-app", []);
      app.controller('MainController', ($scope) => {
        $scope.mainName = '';
        $scope.sayGreeting = () => {
          $scope.message = 'Hello, ' + $scope.mainName + '!';
          $scope.mainName = '';
        };
      });
      app.controller('SecondController', ($scope) => {
        $scope.secondName = '';
        $scope.sayGoodbye = () => {
          $scope.secondMessage = 'Goodbye, ' + $scope.secondName + '!';
          $scope.secondName = '';
        };
      });
      app.directive('clock', ($interval, dateFilter) => {
        return {
          controller: ($scope, $interval) => {
            function update() {
              $scope.time = new Date();
            }
            update();
            $interval(update, 1000);
          },
          template: '<span>{{time | date: \'hh:mm:ss\'}}</span>'
        };
      });
      app.controller('CounterController', ($scope) => {
        $scope.count = 0;
        $scope.add = () => {
          $scope.count ++;
        };
        $scope.subtract = () => {
          $scope.count --;
        };
        $scope.reset = () => {
          $scope.count = 0;
        };
      });
    </script>
  </head>
  <body>
    <div ng-app="my-app">
      <clock></clock>
      <div ng-controller="MainController">
        What is your name?<br>
        <form ng-submit="sayGreeting()">
          <input type="text" ng-model="mainName">
          <button>Submit</button><br>
          {{message}}
        </form>
      </div>
      <div ng-controller="SecondController">
        What is your name?<br>
        <form ng-submit="sayGoodbye()">
          <input type="text" ng-model="secondName">
          <button>Submit</button><br>
          {{secondMessage}}
        </form>
      </div>
      <div ng-controller="CounterController">
          <button ng-click="subtract()"> - </button>{{count}}<button ng-click="add()"> + </button><br>
          <button ng-click="reset()">Reset count</button>
      </div>
    </div>
  </body>
</html>
